{% extends "home/base.html" %}
{% load static %}

{% block content %}
<br> <br> <br> <br> <br>
<section id="careers" class="careers section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Careers</h2>
      <p>Explore Exciting Job Opportunities</p>
    </div>

    <div class="owl-carousel careers-carousel" id="careers-carousel">
      <!-- Job Card 1 -->
      <div class="career-item">
        <div class="career-card">
          <h4>Software Engineer</h4>
          <p><i class="fas fa-map-marker-alt"></i> Remote</p>
          <p><i class="fas fa-briefcase"></i> Full Time</p>
          <a href="#" class="btn-apply">Apply Now</a>
        </div>
      </div>
      <!-- Job Card 2 -->
      <div class="career-item">
        <div class="career-card">
          <h4>Project Manager</h4>
          <p><i class="fas fa-map-marker-alt"></i> Riyadh, KSA</p>
          <p><i class="fas fa-briefcase"></i> Part Time</p>
          <a href="#" class="btn-apply">Apply Now</a>
        </div>
      </div>
      <!-- Job Card 3 -->
      <div class="career-item">
        <div class="career-card">
          <h4>UI/UX Designer</h4>
          <p><i class="fas fa-map-marker-alt"></i> Riyadh, KSA</p>
          <p><i class="fas fa-briefcase"></i> Full Time</p>
          <a href="#" class="btn-apply">Apply Now</a>
        </div>
      </div>
      <div class="career-item">
        <div class="career-card">
          <h4>UI/UX Designer</h4>
          <p><i class="fas fa-map-marker-alt"></i> Khobar, KSA</p>
          <p><i class="fas fa-briefcase"></i> Full Time</p>
          <a href="#" class="btn-apply">Apply Now</a>
        </div>
      </div>
    </div>
    
    

    <!-- More Jobs Button -->
    <div class="more-about-btn">
      <a href="#more-jobs" class="btn-more-about">More Jobs</a>
    </div>

  </div>
</section>
  
  
  


{% endblock %} 
